html {overflow-y: scroll}
body{max-width:750px;margin:40px auto;padding:0 10px;font:14px/1.5 monospace;color:#444;line-height:1.8}h1,h2,h3{line-height:1.2}
p > code{color: #555;; padding:4px}
pre{overflow-x: auto; line-height: 1.5; color: #666}
article{padding:24px 0}
article blockquote{border-left:4px solid;font-style:italic;margin:0;padding:0 8px;}
.center {display: block;margin-left: auto;margin-right: auto;width: 100%;}
img {display: block; max-width: 100%; height: auto;}
figcaption {color: #888; font: 12px/1.5 monospace; text-align: center;}
figure {margin: auto}
@media (prefers-color-scheme: dark){
    p > code{color: #ccc;}
    body{color:white;background:#444}a:link{color:#5bf}a:visited{color:#ccf}
}
